<style>
  img {
    width: 100% !important;
    height: auto !important;
  }

  .container {
    padding: 0 !important;
  }

  .description {
    margin: 0 !important;
  }
  #webklipper-publisher-widget-container-notification-container
    > div.description
    > a {
    display: grid;
  }

  #webklipper-publisher-widget-container-notification-container {
    border: none !important;
  }

  i.power-by-svg {
    display: none !important;
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      width: 90% !important;
    }
  }
</style>
<a href="YOUR-REDIRECTION-LINK" target="_blank">
  <img src="YOUR-HOSTED-IMAGE-PATH" style="height: 500px; width: 640px" />
</a>
